@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,900i&display=swap');

.vertical-center {
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.roboto300 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #161925;
}

.roboto300i {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 28px;
}

.roboto400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #161925;
}

.roboto900iNav {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
}

.roboto900 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 55px;
}

.roboto900i {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 55px;
  color: #161925;
}

.light-it-up {
  background-color: #FF3900;
  color: white;
}

.light-it-up-inverse {
  background-color: white;
  color: #FF3900;
  /* border-color: #FF3900; */
  /* border-width: .05rem; */
}

.fire-text {
  color: #FF3900;
}

.hide {
  display: none;
}

.off-white-background {
  background-color: #F7F7F2;
}

.white-background {
  background-color: white;
}

ul {
  padding-top: 2.5rem; 
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

.list-card {
  height: 12rem;
  margin-bottom: 3rem;
  /* padding-left: 1rem; */
} 

.custom-footer {
  height: 3rem;
  background-color: #161925;
  padding-top: .25rem;
}

.custom-footer-show {
  height: 3.5rem;
  background-color: #161925;
  padding-top: .3rem;
}

.new-black {
  color: #161925;
}

.cursor-pointer {
  cursor: pointer;
}

#show-page {
  margin-left: 10.5rem;
  padding-top: 2.5rem;
}

#delete-icon {
  color: white;
  margin-top: 1rem;
  margin-right: 1rem;
}

#update-button {
  background-color: #f7b538;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: -2.1rem;
  margin-right: .5rem;
  text-align: center;
}

#done-button {
  margin-top: -2.1rem;
  margin-right: .35rem;
  text-align: center;
}

.view-button {
  /* margin-top: .rem; */
  margin-left: 64rem;
  margin-top: .05rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#back-to-list-icon {
  color: white;
  margin-top: 1rem;
  display: inline-block
}

.line-up {
  display: inline-block;
}
